name: Deploy Flex Consumption Function App

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Publish project
        run: dotnet publish ./av-monitoring-system-backend/AVMonitoring.Functions.csproj -c Release -o ./publish

      - name: Zip publish folder
        run: cd publish && zip -r ../app.zip .

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Flex Consumption
        run: |
          az functionapp deploy \
            --resource-group av-monitoring-system \
            --name av-monitoring-system-app \
            --src-path app.zip \
            --type zip
