name: Deploy Flex Consumption Function App

on:
  push:
    branches: ["main", "master"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Publish app
        run: dotnet publish ./av-monitoring-system-backend/av-monitoring-system-backend/AVMonitoring.Functions.csproj -c Release -o ./output

      - name: Deploy to Azure
        uses: Azure/functions-action@v2
        with:
          app-name: <DIN_FLEX_APP_NAME>
          package: "./output"
          publish-profile: ${{ secrets.AZUREAPPPUBLISHPROFILE }}
