name: Deploy Flex Consumption Function App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Publish project
        run: dotnet publish ./av-monitoring-system-backend/AVMonitoring.Functions.csproj -c Release -o ./publish

      - name: Deploy to Azure Functions (Flex)
        uses: Azure/functions-action@v1
        with:
          app-name: av-monitoring-system-app
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
          package: ./publish
